altgraph==0.15
attrs==19.3.0
Automat==0.8.0
certifi==2018.4.16
cffi==1.13.2
chardet==3.0.4
Click==7.0
constantly==15.1.0
crochet==1.10.0
cryptography==2.8
cssselect==1.1.0
docutils==0.14
Flask==1.1.1
future==0.16.0
greenlet==0.4.15
hyperlink==19.0.0
idna==2.6
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
Kivy==1.10.0
Kivy-examples==1.10.0
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
lxml==4.4.2
macholib==1.9
MarkupSafe==1.1.1
parsel==1.5.2
pefile==2017.11.5
Protego==0.1.15
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.2.0
PyHamcrest==1.9.0
PyInstaller==3.3.1
pyOpenSSL==19.1.0
pypiwin32==223
PyQt5==5.10.1
pywin32==223
queuelib==1.5.0
requests==2.20.0
Scrapy==1.8.0
service-identity==18.1.0
sip==4.19.8
six==1.13.0
Twisted==19.10.0
urllib3==1.26.5
w3lib==1.21.0
Werkzeug==0.16.0
wrapt==1.11.2
zope.interface==4.7.1
