code {
    display: block;
    background-color:rgb(239, 240, 241);
    border-bottom-color:rgb(57, 51, 24);
    border-bottom-style:none;
    border-bottom-width:0px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(57, 51, 24);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(57, 51, 24);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(57, 51, 24);
    border-top-style:none;
    border-top-width:0px;
    box-sizing:border-box;
    color:rgb(57, 51, 24);
    display:inline;
    font-family:Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
    font-size:13px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:400;
    height:auto;
    line-height:16.9px;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    max-height:none;
    overflow-wrap:normal;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    text-align:left;
    vertical-align:baseline;
    white-space:pre;
}

.tag-value {
}

.source-title {
    display: block;
    font-size: 24px;
    border: 2px solid;
    padding: 10px;
    margin-top: 30px;
}