:root {
    --primary-color: #29b6f6;
    --primary-color-light: #73e8ff;
    --primary-color-dark: #0086c3;

    --secondary-color: #757575;
    --secondary-color-light: #a4a4a4;
    --secondary-color-dark: #494949;

    --bg-color: #f1f1f1;
    --success-color: #66bb6a;
    --success-color-light: #98ee99;


    --typography-color-primary: #000000;
    --typography-color-secondary: #ffffff;
  }

body {
    background-color: var(--bth-color);
    font-family: 'Roboto Mono';
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


.header {
    margin-bottom: 64px;
    background-color: var(--primary-color);
}

.box {
    padding: 10px 24px;
}

.action {
    cursor: pointer;
    transition: all .3s ease-in-out;
	border: none;
}

.action:focus {
    outline: none;
}

.header .title-primary,
.header p {
    padding-left: 24px;
    padding-right: 24px;
}

.title-primary {
    padding: 10px;
    font-size: 24px;
    color: var(--typography-color-secondary);
    background-color: var(--primary-color-dark);
}

.header p {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;
    min-height: 70px;
    color: var(--typography-color-primary)
}

.form-row-wrapper {
    display: flex;
    margin-bottom: 36px;
    border-radius: 10px;
}


.form-field {
    display: block;
    flex-grow: 1;
    margin-right: 16px;
    border: none;
    border-radius: 1px;
    outline: none;
    padding: 6px;
    border-bottom: 1px solid var(--secondary-color)
}

.form-field:focus {
    outline: none;
}

.form-row-delete-btn {
    flex-shrink: 0;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    border: none;
	background-color: initial;
}

.form-row-delete-btn:hover .svg-icon {
    color: var(--secondary-color-light)
}

.form-row-delete-btn .svg-icon {
    transition: all .3s ease-in-out;
    width: 34px;
    height: 34px;
    color: var(--secondary-color-dark);
    transform: translate(0px, 3px);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
}

.form-wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-wrapper-header h5 {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px;
}

.form-add-field-btn {
    margin-top: 6px;
    align-self: flex-start;
    border-radius: 10px;
    min-height: 40px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    outline: none;
}

.form-add-field-btn:hover {
    background-color: var(--primary-color-light)
}

.form-add-field-btn .svg-icon {
    display: block;
    width: 34px;
    height: 34px;
}

.form-add-field-btn .svg-icon path {
    fill: var(--typography-color-secondary);
}

.form-submit-btn {
    color: var(--typography-color-secondary);
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    background-color: var(--primary-color);
}

.form-submit-btn[disabled] {
    cursor: none;
    background-color: var(--secondary-color);
}

.form-submit-btn:focus {
    outline: none;
}

.form-submit-btn:not([disabled]):hover {
    background-color: var(--primary-color-light)
}

.content-wrapper {
    margin-bottom: 24px;
}

.content-wrapper.show .tag-row-wrapper {
    display: flex;
}

.standard-btn {
    font-size: 16px;
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 0 20px;
	height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    align-self: flex-start;
    border-radius: 10px;
    color: var(--typography-color-secondary);
    background-color: var(--primary-color);
}

.standard-btn:hover {
    background-color: var(--primary-color-light)
}

.tag-source {
    display: none;
    flex-basis: 100%;
    background-color:rgb(239, 240, 241);
    border-bottom-color:rgb(57, 51, 24);
    color:rgb(57, 51, 24);
    font-family:Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
    font-size:13px;
    font-stretch:100%;
    font-weight:400;
    line-height:16.9px;
    padding: 8px;
    margin: 12px 0;
    border-radius: 10px;
    text-align:left;
    vertical-align:baseline;
}

.tag-source.show {
    display: block;
}


.tag-row-wrapper {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin: 14px 0;
}

.tag-row {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 6px;
}

.tag-name {
    display: inline-block;
    margin-right: 20px;
    min-width: 50px;
    font-size: 20px;
    font-weight: 20px;

}

.tag-value {
    flex-grow: 1;
}

.tag-value, .tag-value * {
    font: normal 18px Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    cursor: auto;
    text-decoration: none;
}

.tag-value * {
    margin: 0;
    display: flex;
    align-items: center;
}

.tag-detail-btn {
    align-self: center;
    margin-left: 20px;
}

.source-title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    margin: 40px 0 30px 0;
}