<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The SEO reporter</title>
  <meta name="description" content="Parses a webpages and creates a report about their SEO optimizations">
  <meta name="author" content="https://github.com/velidan">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css">

</head>

<body>
    <div id="root" ></div>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script type="text/babel" src="/static/main.js"></script>
</body>
</html>